<div class="jumbotron bg-light mt-n1 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex flex-column mb-4">
        <img src="/img/screenshots/happydomain-rounded.webp" alt="happyDomain logo">
      </div>
      <div class="col">
        <h2 class="display-5 text-center text-muted">
          {{ i18n "slogan" }}
        </h2>
        <p class="mt-4 lead">
          happy<strong>Domain</strong>
          {{ i18n "lead" | markdownify }}
        </p>
        <p class="mt-4">
          <a class="btn btn-primary mt-2" data-umami-event="jumbo-tryit" href="{{ .Site.Params.tryit }}">{{ i18n "tryit" }} &#187;</a>
          <a class="btn btn-outline-secondary mt-2" data-umami-event="jumbo-downloads" href="#downloads">{{ i18n "downloadit" }} &#187;</a>
        </p>
        <div class="mt-5 card bg-secondary text-light flex-row align-items-center" style="border-radius: .3rem">
          <div class="card-body">
            <h3>{{ i18n "conf-fosdem24-title" }}</h3>
            <p class="card-text">
              {{ i18n "conf-fosdem24-body-1" }}
              <a href="{{ i18n "conf-fosdem24-href" }}" target="_blank"><em>{{ i18n "conf-fosdem24-link" }}</em></a>
              {{ i18n "conf-fosdem24-body-2" }}
            </p>
          </div>
          <img src="/img/assets/FOSDEM24_logo.png" alt="FOSDEM 2024" style="height: 10em">
        </div>
      </div>
    </div>
  </div>
</div>
